version: v2

description: Nebula KG Import for Medical Dataset ({{ source_type }})

clientSettings:
  retry: 3
  concurrency: 10
  channelBufferSize: 128
  space: {{ space }}
  connection:
    user: root
    password: nebula
    address: "graphd0:9669"

logPath: {{ log_dir }}/ng_import.log

files:
{% for file in csv_info %}
  - path: "/import/{{ file.filename }}"
    failDataPath: "/import/logs/{{ file.filename.replace('.csv', '_fail.csv') }}"
    batchSize: 256
    type: csv
    csv:
      withHeader: true
      delimiter: ","
    schema:
      type: {{ file.type }}
      {% if file.type == 'vertex' %}
      vertex:
        tag: {{ file.tag }}
        vid:
          index: {{ file.vid_index }}
          type: string
        props:
          {% for prop in file.props %}
          - name: {{ prop.name }}
            type: {{ prop.type }}
          {% endfor %}
      {% else %}
      edge:
        name: {{ file.edge }}
        withRanking: false
        srcVID:
          index: {{ file.src_index }}
          type: string
        dstVID:
          index: {{ file.dst_index }}
          type: string
      {% endif %}
{% endfor %}